{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
            <li>
                <img src="{{ listing.image }}" alt="Image of {{ listing.title }}">
                <a href="{% url 'auctions:listing' listing.id %}">{{ listing.title }}</a>
                {% if listing.winner %}
                    Winner: {{ listing.winner.username }}
                {% else %}
                    No Winner
                {% endif %}
            </li>
        {% endfor %}
{% endblock %}