{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{ listing.title }}</h2>
<p>{{ listing.description }}</p>
<p>Created By: {{ listing.created_by }}</p>
<img src="{{ listing.image }}" alt="Image of {{ listing.title }}">

<h3>Current Bid</h3>
{% if highest_bid %}
    <p>${{ highest_bid }}</p>
{% else %}
    <p>${{ listing.starting_bid }}</p>
{% endif %}
<p>{{ bid_count }} bids</p>

{% if is_active %}
    <form action="{% url 'auctions:bid' listing.id %}" method="post">
        {% csrf_token %}
        {{ bid_form.as_p }}
        <button type="submit">Add Bid</button>
    </form>
{% else %}
    <p>Auction Closed</p>
    {% if winner %}
        <p>Winner: {{ winner.user.username }}</p>
    {% else %}
        <p>No Winner</p>
    {% endif %}
{% endif %}
<br>
{% if in_watchlist %}
    <form action="{% url 'auctions:remove_watchlist' listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Remove From Watchlist</button>
    </form>
{% else %}
    <form action="{% url 'auctions:add_watchlist' listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Add To Watchlist</button>
    </form>
{% endif %}
<br>
{% if is_owner %}
    <form action="{% url 'auctions:close' listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Close Auction</button>
    </form>
{% endif %}

<h3>Comments</h3>
<ul>
    {% for comment in listing_comments %}
        <li>{{ comment.comment }} - {{ comment.created_by.username }}</li>
    {% endfor %}
</ul>
<form action="{% url 'auctions:comment' listing.id %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Add Comment</button>
</form>
{% endblock %}