{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="compose-view" style="display: none;">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div id="emails-view" style="display: block;">
        <h3>Emails</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Subject</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="emails">
            </tbody>
        </table>
    </div>

    <div id="sent-view" style="display: none;">
        <table class="table">
            <thead>
                <tr>
                    <th>To</th>
                    <th>Subject</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="sent-emails">
            </tbody>
        </table>
    </div>

    <div id="archive-view" style="display: none;">
        <table class="table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Subject</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="archived-emails">
            </tbody>
        </table>
    </div>

    <div id="email-view" style="display: none;">
        <h3>Email</h3>
        <div id="email-content">
            <strong>From:</strong> <span id="email-sender"></span><br>
            <strong>To:</strong> <span id="email-recipients"></span><br>
            <strong>Subject:</strong> <span id="email-subject"></span><br>
            <strong>Timestamp:</strong> <span id="email-timestamp"></span><br>
            <hr>
            <span id="email-body"></span>
        </div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}