h1 {
    color: blue;
    text-align: center;
    font-size: 100pt;
    margin: 40px;
}

form {
    text-align: center;
}

button {
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
}